body {
    background-color: rgb(252, 230, 178);
    

}

#header {
    text-align: center;
    width: 100%;
    background-color: rgb(209, 253, 244);
}

#login {
    font-size: 4rem;
    color: rgb(243, 243, 1);
}

#title {
    text-transform: uppercase;
    font-size: 5rem;
    color: rgb(36, 76, 240);
}

#nav {
    width: 200px;
    margin-top: 5%;
    margin-left: 1%;
    background-color: #eee;
    width: 40%;
    text-align: center;
    
}

#nav a {
    background-color: #eee; 
    color: black;
    display: block; 
    padding: 12px; 
    text-decoration: none; 
    margin-bottom: 30px;
    font-size: 2.5rem;
}

#nav a:hover {
    background-color: rgb(164, 255, 164)
}

#nav a.active {
    background-color: #4CAF50;
    color: white;
}

#resourcetitle {
    text-align: center;
    font-size: 2.5rem;
    color: pink;
}

#artresources {
    text-align: center;
    align-content: center;
    font-size: 2rem;
    padding-top: 50px;
}

#artresources a {
    background-color: rgb(36, 240, 199); 
    display: block; 
    width: 350px;
    text-decoration: none; 
    margin-bottom: 30px;
    margin: auto;
    margin-bottom: 50px;
    color: rgb(240, 36, 76);
    border-radius: 3px;
    width: 40%
}

#homepage {
    font-size: 3rem;
    align-content: center;
    color: yellow;
}

#links {
    font-size: 3.5rem;
}

#happy {
    font-size: 3rem;
    margin-right: 20px;
}

#yawn {
    font-size: 3rem;
    margin-right: 20px;
    margin-bottom: 40px;
}

#angry {
    font-size: 3rem;
}